{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div style="margin: 40px 80px 40px 40px;">  
    <form method="POST" action="/add_item/">
      {% csrf_token %}
      <div class="input-group mb-3 input-item" style="margin: 20px;">
        <input type="text" name="name" class="form-control" placeholder="New Item" aria-label="New Item" aria-describedby="basic-addon2">
        <button type="submit" class="input-group-text" id="basic-addon2">Add Item</button>
      </div>
    </form>
    {% for items in todo_items %}
    <div class="input-group mb-3" style="margin: 20px; background-color: white; padding: 6px;">
      <div class="input-group-text">
        <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
      </div>
      <span class="form-control" style="padding-left: 20px;">{{ items.name }}</span>
    </div>
    {% endfor %}  
</div>
{% endblock content %}